@model List<ICI.ProvaCandidato.Negocio.DTOs.NoticiaDto>

@if (Model != null && Model.Count > 0)
{
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        <br />

        <form asp-action="Index" method="get">
            <div class="form-group">
                <input type="text" name="searchTerm" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Pesquisar Notícias" />
                <br />
                <button type="submit" class="btn btn-primary">Pesquisar</button>
            </div>
        </form>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model[0].Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].Titulo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].Texto)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].Usuario)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].NoticiasTags)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Titulo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Texto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UsuarioId)
                            </td>
                            <td>
                                @foreach (var tag in item.NoticiasTags)
                                {
                                    <span class="badge badge-info">@tag.Descricao</span>
                                }
                            </td>
                            <td>
                                @await Html.PartialAsync("_ActionButtonsIndex", item.Id)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="text-center">
        <h2>Nenhuma notícia cadastrada</h2>
    </div>
}
<div>
    <a asp-action="Create" class="btn btn-primary">Nova Notícia</a>
</div>
